

.Page-Space {

  font-family: Arial, sans-serif;
  width:100vw;
  margin:0px;
  position:relative;
  background-image: url(../images/Background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

}


.Main-Document {

  width:90%;
   z-index: 10;

   margin: 0 auto;
}

 .Main-Heading {

  background-color: red;
  width:50%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:5px auto;


}

.Heading-Text {

  font-size: 1.3em;
  /* font-weight: bold; */
}

.Personal-Details {

  width:80%;
  background-color: yellow;
  text-align: center;
  margin: auto;
  padding: 5px;

}

.Project-Details {

  width: 80%;
  background-color: blue;
  text-align: center;
  margin: auto;
  padding: 0.5px;
}

.images-Box1 {

  width:80%;
  /* height: 160px; */
  margin:5px auto;
  display:flex;
  justify-content: space-between;
  /* background-color: pink; */
}

.images-Box2 {

  width:80%;
  /* height:160px; */
  margin:5px auto;
  display:flex;
  justify-content: space-between;
  /* background-color: pink; */
}

.Contact-Details {

  width: 80%;
  background-color: green;
  text-align: center;
  margin: 10px auto;
  padding: 5px;


@media:
