

.page_space {

  font-family: Arial, sans-serif;
  width:100vw;
  margin:0px;
  position:relative;
  background-image: url(../images/Background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

}

.main_document {

  width:90%;
   z-index: 10;

   margin: 0 auto;
}

 .main_heading {
background-color: rgba(0, 255, 0, 0.4);
  /* background-color: red; */
  width:50%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:5px auto;
  border-radius: 5px;
}

.text_box {

  text-align: justify;
  margin: 0 15px;

}

.contact_text_box {
  margin: 0 15px;
}

.p {

font-size: 1.2em;
}

.p1 {

  font-size: 1.2em;
  font-weight: bold;
}


.heading_text1 {

  font-size: 1.6em;
  /* font-weight: bold; */
}

.heading_text2 {

  font-size: 1.4em;
  /* font-weight: bold; */
}
.scroll__box {

 display:flex;
 height:100%;
 width:100%;
 margin:0;
 padding:0;

}

.slideshow__navigation {

  position:relative;
  /* top:40%; */
  width:auto;
  display:flex;
  justify-content:space-between;
  color:#fff;
  font-size: 2rem;

}

.slideshow__navigation > .arrow {
  cursor:pointer;
  z-index: 20;
  margin:0;
  padding:0;
}

.slideshow__item.active {
  display:flex;
  margin: 0;
  padding:0;
  height:100%;
  width:100%;
  z-index: 15;
}

.slideshow__item {
  display:none;
  justify-content:center;
  align-items: center;
  height:100%;
  width:100%;
  color:#fff;
  font-size:4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;


}
.slideshow__item1 {
  background-image: url('../images/image1.jpg');
}
.slideshow__item2 {
  background-image: url('../images/image2.jpg');

}
.slideshow__item3 {
  background-image: url('../images/image3.jpg');

}

.slideshow__item4 {
  background-image: url('../images/image4.jpg');
}

.slideshow__item5 {
    background-image: url('../images/image5.jpg');
}


.personal_details {

  width:80%;
  background-color: hsla(360, 100%, 100%, 0.4);
  text-align: center;
  margin: auto;
  padding: 5px;
  border-radius: 5px;

}

.project_details {

  width: 80%;
  background-color: hsla(360, 100%, 100%, 0.4);
  text-align: center;
  margin: auto;
  padding: 0.5px;
  border-radius: 5px;
}

.images_box1 {

  width:80%;
  /* height: 160px; */
  margin:5px auto;
  display:flex;
  justify-content: space-between;
  /* background-color: pink; */
}


.images_box2
{

  width:80%;
  margin:5px auto;
  display:flex;
  justify-content: space-between;
  align-content:space-between;
  align-items: center;
}

.contact_details {

  width: 80%;
  background-color: rgba(0, 255, 0, 0.4);
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;


@media:
